/* Fonts */
@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* Variables */
:root {

/* Color */
  --basic-black: #000000;
  --basic-dark: #333333;
  --basic-gray-dark: #b3b3b3;
  --basic-gray-light: #e6e6e6;
  --basic-light: #f2f2f2;
  --basic-white: #ffffff;
  --basic-white-30: rgba(255, 255, 255, 0.3);
  --basic-white-60: rgba(255, 255, 255, 0.6);

  /* status */
  --status-success: #7db550;
  --status-warning: #fd922e;
  --status-error: #ff5757;

  /* special */
  --special-cold-dark: #68a2ca;
  --special-cold-light: #83b3d3;
  --special-cold-light-12: rgba(131, 179, 211, 0.12);
  --special-cold-light-20: rgba(131, 179, 211, 0.2);
  --special-neutral-dark: #6c9e42;
  --special-neutral-light: #7db54f;
  --special-warm-dark: #615048;
  --special-warm-light: #756257;
  --special-space-deep: #3F5E72;

/* Value */
  /* Box model */
  --container-padding-user: 59px;
  --container-padding-model: 72px;
  --border-radius-small: 4px;
  --border-radius-middle: 6px;
  --border-radius-large: 10px;

  --outline-focus-cold: 3px solid var(--special-cold-light);
  --outline-focus-warm: 3px solid var(--special-warm-light);
  --outline-active: 2px solid var(--basic-black);
  --outline-error: 2px solid var(--status-error);
}

/* Basic styles */
html { height: 100%; }

body {
  margin: 0;
  min-height: 100%;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 21px;
  color: var(--basic-black);
}

.button {
  font: inherit;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-white);

  border: none;
  border-radius: var(--border-radius-small);

  cursor: pointer;
}

.button:focus-visible {
  outline: var(--outline-focus-cold);
  outline-offset: 0;
}

.button:active { color: var(--basic-white-30); }

/* button-warm */
.button--warm:hover { background-color: var(--special-warm-dark); }

/* button-cold */
.button--cold:hover { background-color: var(--special-cold-dark); }

.button--cold:focus-visible {
  background-color: var(--special-cold-dark);

  outline: var(--outline-focus-warm);
}

/* button-success */
.button--success:hover { background-color: var(--special-neutral-dark); }

.button--success:focus-visible {
  background-color: var(--special-neutral-dark);

  outline: var(--outline-focus-warm);
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1200px;
  height: 100vh;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */

.page-header {
  position: relative;

  display: flex;
  margin-bottom: -5px;
  padding-right: var(--container-padding-model);
  padding-left: var(--container-padding-user);
}

/* Nav */
.page-header__nav {
  margin-right: 122px;
  padding-top: 12px;
  padding-bottom: 20px;
  width: 350px;
}

.page-nav__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.page-nav__item { margin-right: 9px; }

.page-nav__link {
  position: relative;

  display: inline-block;
  padding: 6px 12px;

  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  color: inherit;
}

.page-nav__link:hover:not(.page-nav__link--current) { color: var(--special-warm-light); }

.page-nav__link:focus-visible {
  color: var(--special-warm-light);

  border-radius: var(--border-radius-middle);

  outline: var(--outline-focus-cold);
}

.page-nav__link:active:not(.page-nav__link--current) { opacity: 0.3; }

.page-nav__link--current::before {
  position: absolute;
  right: 12px;
  bottom: -16px;
  left: 12px;
  content: "";


  height: 2px;

  background-color: var(--special-warm-light);
}

.page-logo { text-decoration: none; }

.page-logo:focus-visible {
  border-radius: var(--border-radius-middle);
  outline: var(--outline-focus-cold);
}

.page-logo__img { display: block; }

.page-header__menu {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-left: auto;
  padding-top: 14px;
  width: 260px;
}

.user-menu__link {
  position: relative;
  display: inline-block;

  padding: 6px 10px;

  text-decoration: none;
}

.user-menu__svg {
  fill: var(--basic-black);
  vertical-align: middle;
}

.user-menu__link:hover .user-menu__svg { fill: var(--special-warm-light); }

.user-menu__link:focus .user-menu__svg { fill: var(--special-warm-light); }

.user-menu__link:focus-visible {
  border-radius: var(--border-radius-middle);

  outline: var(--outline-focus-cold);
}

.user-menu__link:active .user-menu__svg { opacity: 0.3; }

.user-menu__link:active .user-menu__counter { color: var(--basic-white-30); }

.user-menu__link--btn {
  margin-left: auto;
  padding: 8px 35px;

  background-color: var(--special-warm-light);
}

.user-menu__counter {
  position: absolute;
  top: 0;
  right: -4px;
  content: "";

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2px;
  min-width: 15px;
  min-height: 19px;

  font-size: 10px;
  line-height: 13px;
  color: var(--basic-white);

  background-color: var(--status-success);
  border-radius: 10px;
}

/* Main */
.page-main,
.inner-main { flex-grow: 1; }


/* Welcome */
.welcome {
  margin-bottom: 61px;
  padding-top: 51px;
  padding-bottom: 82px;

  background: var(--special-cold-dark);
  background-image: url("../img/jpg/sedona.jpg");
  background-repeat: no-repeat;
}

.welcome__pic {
  display: flex;
  margin: auto;
}

/* Promo */
.promo {
  margin-bottom: 79px;
  padding-right: 160px;
  padding-left: 160px;
}

.promo__desc {
  margin-bottom: 34px;

  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.promo__sub-desc {
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: var(--basic-dark);
}

.filter-wrapper {
  margin-bottom: 45px;
  padding: 32px var(--container-padding-model) 82px calc(var(--container-padding-model) - 2px);

  background-color: var(--special-cold-light);
  background-image: url("../img/catalog/jpg/catalog-bg.jpg");
  background-repeat: no-repeat;
}

.inner-main__title {
  margin-top: 0;
  margin-bottom: -6px;

  font-size: 60px;
  line-height: 78px;
  color: var(--basic-white);
}

/* Section About */
.about { margin-bottom: 90px; }

.about__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.about__item,
.service__item {
  width: 400px;

  font-size: 18px;
  line-height: 21px;
  text-align: center;

  box-sizing: border-box;
}

.about__item:nth-child(n + 3) {
  padding: 97px 69px 91px;
}

.about__item:nth-child(odd) { background-color: var(--special-cold-light-12); }

.about__item:nth-child(4) { background-color: var(--special-cold-light-20); }

.about__item--pic {
  width: auto;
  display: flex;
  flex-wrap: wrap;
}

.about__item-wrap {
  width: 400px;
  padding: 97px 90px 20px;

  color: var(--basic-white);

  background-color: var(--special-cold-light);
  box-sizing: border-box;
}

.about__img--reverse { order: -1; }

.about__title {
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 29px;
  max-width: 172px;

  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.about__num { margin-bottom: 29px; }

.about__img { height: auto; }

.about__img--reverse { order: -1; }

.service {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.service__item {
  padding: 184px 112px 72px 110px;

  background-repeat: no-repeat;
}

.service__item:not(:first-child) {
  padding-right: 85px;
  padding-left: 83px;
}

.service__item:nth-child(odd) { background-color: var(--special-cold-light-12); }

.service__item--home {
  background-image: url("../img/svg/home-icon.svg");
  background-position: center 89px;
}

.service__item--eat {
  background-image: url("../img/svg/eat-icon.svg");
  background-position: center 91px;
}

.service__item--souvenir {
  background-image: url("../img/svg/souvenirs-icon.svg");
  background-position: center 85px;
}

.service__title {
  margin-top: 0;
  margin-bottom: 19px;

  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

/* Breadcrumbs */
.breadcrumbs { margin-bottom: 42px; }

.breadcrumbs__list {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -5px;
  padding-left: 0;

  color: var(--basic-white);

  list-style: none;
}

.breadcrumbs__item {
  position: relative;

  margin-right: 12px;
}

.breadcrumbs__item::after {
  position: absolute;
  top: 5px;
  right: -9px;
  content: "";

  width: 5px;
  height: 8px;

  background-image: url("../img/catalog/svg/arrow-icon-white.svg");
  background-repeat: no-repeat;
}

.breadcrumbs__item:last-child::after { content: none; }

.breadcrumbs__link {
  display: block;
  padding: 3px 7px;

  color: inherit;
  text-decoration: none;
}

.breadcrumbs__link--icon {
  width: 12px;
  height: 12px;

  background-image: url("../img/catalog/svg/home-icon-small.svg");
  background-repeat: no-repeat;
  background-position: center
}

.breadcrumbs__link:hover { opacity: 0.6; }

.breadcrumbs__link:focus-visible {
  border-radius: var(--border-radius-small);

  outline: var(--outline-focus-cold);
}

.breadcrumbs__link:active { opacity: 0.3; }

/* Filters */
.filter__form {
  display: grid;
  grid-template-columns: 215px 215px 97px 290px auto min-content;
  grid-template-rows: min-content auto min-content;
  color: var(--basic-white);
}

.filter__group {
  margin-right: 0;
  margin-left: 0;
  padding: 0;

  border: none;
}

.filter__group--infrastructure,
.filter__group--type,
.filter__group--price { grid-row: 1 / -1; }

.filter__group--price { grid-column: 4 / 5; }

.filter__title {
  margin-bottom: 30px;

  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
}

.filter__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  font-size: 18px;
  line-height: 23px;

  list-style: none;
}

.comfort__item:not(:last-child),
.house-type__item:not(:last-child) { margin-bottom: 13px; }

.comfort__label,
.house-type__label {
  position: relative;

  padding-left: 41px;
}

.comfort__label:hover .comfort__control { background-color: var(--basic-white-60); }

.comfort__label:focus-within .comfort__control {
  background-color: var(--basic-white-60);

  outline: var(--outline-focus-cold);
}

.comfort__label:active .comfort__control { background-color: var(--basic-white-30); }

.comfort__input:checked + .comfort__control {
  background-image: url("../img/catalog/svg/checkbox-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.comfort__control,
.house-type__control  {
  position: absolute;
  top: 1px;
  left: 1px;
  content: "";

  width: 20px;
  height: 20px;

  background-color: var(--basic-white);
  border-radius: var(--border-radius-small);
}

.house-type__label:focus-within .house-type__control { outline: var(--outline-focus-cold); }

.house-type__input:checked + .house-type__control::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";

  margin: auto;
  width: 10px;
  height: 10px;

  background-color: var(--special-space-deep);
  border-radius: 50%;
}

.comfort__input:disabled + .comfort__control,
.house-type__input:disabled + .house-type__control { background-color: var(--basic-white-30); }


.house-type__control {
  left: 3px;

  border-radius: 50%;
}

.price {
  display: flex;
  flex-direction: column;
}

.price__title { margin-bottom: 35px; }

.price__input-wrap {
  position: relative;

  display: flex;
  margin-bottom: 28px;
  padding-left: 3px;
}

.price__label {
  position: absolute;
  content: "";

  font-size: 18px;
  line-height: 23px;
  text-transform: lowercase;

  opacity: 0.3;
}

.price__label--min {
  top: 11px;
  right: 159px;
}

.price__label--max {
  top: 11px;
  right: 17px;
}

.price__input {
  padding: 12px 35px 11px 17px;
  width: 144px;

  font: inherit;
  color: var(--basic-white);

  background-color: transparent;
  border: 2px solid var(--basic-white);
  box-sizing: border-box;

  appearance: textfield;
}

.price__input:hover {
  color: var(--basic-white-60);

  box-shadow: none;
}

.price__input:focus-visible {
  box-shadow: inset 0 0 0 3px #83b3d3;
  outline: var(--outline-focus-cold);
}

.price__input:active {
  color: var(--basic-white);

  background-color: var(--special-warm-light);
  box-shadow: none;
}

.price__input::-webkit-outer-spin-button,
.price__input::-webkit-inner-spin-button { appearance: none; }

.price__input--max { letter-spacing: 1px; }

.price__input:last-child { margin-left: -2px; }

.price__input:first-of-type {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.price__input:last-of-type {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.price__scale {
  position: relative;

  margin-left: 3px;
  height: 4px;

  background-color: var(--basic-white-30);
}

.price__range {
  position: absolute;
  content: "";

  width: 227px;
  height: 4px;

  background-color: var(--basic-white);
}

.price__btn {
  position: absolute;
  content: "";

  width: 20px;
  height: 20px;

  background-color: var(--basic-white);
  border: none;
  border-radius: 5px;

  cursor: pointer;
}

.price__btn:hover { box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); }

.price__btn:focus-visible {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  outline: var(--outline-focus-cold);
}

.price__btn:active {
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
  outline: 2px solid var(--special-cold-light);
}

.price__btn--min {
  top: -8px;
  left: 0;
}

.price__btn--max {
  top: -8px;
  right: -8px;
}

.filter__btn-wrap {
  grid-column: -1 / -2;
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  padding-top: 61px;
}

.filter__btn--submit {
  grid-column: -1 / -2;
  grid-row: 3 / 4;
  margin-bottom: 18px;
  padding: 13px 35px 14px;

  background-color: var(--special-cold-light);
}

.filter__btn--submit:focus-visible { outline: 3px solid var(--basic-white); }

.filter__btn--reset {
  grid-column: -1 / -2;
  grid-row: -1 / -2;
  align-self: center;
  padding: 1px 11px 2px 9px;

  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  color: var(--basic-white);

  background-color: transparent;
  border: none;
  border-radius: var(--border-radius-small);

  cursor: pointer;
}

.filter__btn--reset:hover { color: var(--basic-white-60); }

.filter__btn--reset:focus-visible { outline: var(--outline-focus-cold); }

.filter__btn--reset:active { color: var(--basic-white-30); }

/* Sorting */
.sorting {
  display: flex;
  justify-content: space-between;
  margin-bottom: 43px;
  padding-right: var(--container-padding-model);
  padding-left: calc(var(--container-padding-model) - 1px);
}

.sorting__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 815px;
}

.sorting__title {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 30px;
  line-height: 39px;
  font-weight: bold;
  text-transform: uppercase;
}

.sorting__label { position: relative; }

.sorting__options {
  padding: 9px 101px 10px 17px;
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  color: var(--basic-dark);

  background-color: transparent;
  border: 2px solid var(--basic-gray-light);
  border-radius: var(--border-radius-small);

  appearance: none;
}

.sorting__options:hover,
.sorting__options:focus-visible {
  border-color: transparent;
  outline: 2px solid var(--special-cold-light);
}

.sorting__options:active {
  color: var(--basic-gray-dark);

  border-color: var(--basic-gray-light);
}

.sorting__icon {
  position: absolute;
  top: 50%;
  right: 20px;

  fill: var(--basic-black);

  transform: translateY(-50%);
  opacity: 0.3;
}

.sorting__options:active + .sorting__icon {
  fill: var(--basic-gray-dark);
}

.sorting-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.sorting__item:not(:last-child) { margin-right: 8px; }

.sorting__link {
  display: block;
  padding: 14px 14px;
  min-width: 16px;
  min-height: 14px;

  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid var(--basic-gray-light);
  border-radius: var(--border-radius-small);
}

.sorting__link--current { border-color: var(--basic-black); }

.sorting__link--tile { background-image: url("../img/catalog/svg/mode-tile.svg"); }

.sorting__link--slideshow { background-image: url("../img/catalog/svg/mode-slideshow.svg"); }

.sorting__link--list { background-image: url("../img/catalog/svg/mode-list.svg"); }

.sorting__link:hover,
.sorting__link:focus-visible { border-color: var(--special-cold-light); }

.sorting__link:active { border-color: var(--basic-black); }

/* Catalog */
.catalog {
  position: relative;

  margin-bottom: 30px;
  padding-right: calc(var(--container-padding-model) - 1px);
  padding-left: var(--container-padding-model);
  padding-bottom: 30px;

  text-align: center;
}

.catalog::after {
  position: absolute;
  bottom: -1px;
  left: 71px;
  right: 72px;
  content: "";

  height: 1px;

  background-color: var(--basic-gray-light);
}

.catalog__item {
  display: grid;
  grid-template-columns: 180px 36px 159px 160px auto min-content;
  grid-template-rows: 31px auto 37px;
  padding-top: 27px;
  padding-bottom: 30px;

  border-top: 1px solid var(--basic-gray-light);
}

.catalog__item:last-of-type {
  margin-bottom: 30px;

  border-bottom: 1px solid var(--basic-gray-light);
}

.catalog-article__img-link {
  grid-row: 1 / -1;
  margin-top: 3px;
}

.catalog-article__img-link:hover { opacity: 0.6; }

.catalog-article__img-link:focus-visible { outline: var(--outline-focus-cold); }

.catalog-article__img-link:active { opacity: 0.3; }

.catalog-article__img { display: block; }

.catalog-article__title-link  {
  grid-column: 3 / -2;
  width: fit-content;

  color: inherit;
  text-decoration: none;
}

.catalog-article__title-link:hover { color: var(--special-warm-light); }

.catalog-article__title-link:focus-visible {
  color: var(--special-warm-light);

  border-radius: var(--border-radius-small);
  outline: var(--outline-focus-cold);
  outline-offset: 5px;
}

.catalog-article__title-link:active {
  color: var(--special-warm-light);

  opacity: 0.3;
}

.catalog-article__title {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 24px;
  line-height: 31px;
}

.catalog-article__desc {
  display: flex;
  grid-column: 3 / 5;
  grid-row: 2 / 3;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
  width: 235px;

  font-size: 18px;
  line-height: 23px;

  color: var(--basic-dark);
}

.catalog-article__link {
  grid-row: -1 / -2;
  justify-self: start;
  padding: 8px 32px 10px 31px;
}

.catalog-article__link--details {
  grid-column: 3 / 4;

  background-color: var(--special-warm-light);
}

.catalog-article__link--favorites {
  grid-column: 4 / 5;
  padding-right: 29px;

  background-color: var(--special-cold-light);
}

.catalog-article__link--favorites-green { background-color: var(--special-neutral-light); }

.catalog-article__link--selected { background-color: var(--special-neutral-light); }

.catalog-article__rating {
  grid-column: -1 / -2;
  grid-row: -1 / -2;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding: 8px 33px 10px 32px;

  color: var(--basic-dark);
  text-align: center;
  text-transform: uppercase;

  background-color: var(--basic-light);
  border-radius: var(--border-radius-small);
}

.article-rating__item { margin-left: 5px; }

.catalog__btn {
  display: inline-block;
  padding: 15px 240px 14px 241px;

  font-size: 20px;
  line-height: 26px;

  background-color: var(--special-cold-light);
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: var(--container-padding-model);
  padding-left: calc(var(--container-padding-model) - 1px);
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.pagination__item:not(:last-child) { margin-right: 8px; }

.pagination__item:last-child { margin-left: -1px; }

.pagination__link {
  display: inline-block;
  min-width: 55px;
  padding-top: 15px;
  padding-bottom: 15px;

  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--basic-white);

  background-color: var(--special-cold-light);
  border-radius: var(--border-radius-small);
  box-sizing: border-box;
}

.pagination__link--current {
  color: var(--basic-black);

  background-color: var(--basic-light);
}

.pagination__label {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 386px;

  font-size: 18px;
  line-height: 23px;
  color: var(--basic-dark);
}

.pagination__options {
  padding: 10px;
  width: 160px;

  font-size: 18px;
  line-height: 23px;
  color: var(--basic-dark);

  border: 2px solid var(--basic-gray-light);
  border-radius: var(--border-radius-small);
}

.pagination__icon {
  position: absolute;

  content: "";
}

/* Section Search */
.search {
  text-align: center;
}

.search__title {
  margin-bottom: 31px;

  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search__desc {
  margin: 0 auto 57px;

  font-size: 22px;
  line-height: 26px;
  color: var(--basic-dark);
}

.search-desc__item {
  display: inline-block;
  margin-left: -17px;
}

.search__btn {
  padding: 13px 151px 11px 148px;

  font-size: 20px;
  line-height: 36px;

  background-color: var(--special-warm-light);
  border-radius: var(--border-radius-large);
}

/* Footer */
.page-footer { margin-top: 92px; }

/* Section Subscribe */
.subscribe {
  padding: 92px 200px 94px;

  text-align: center;
}

.subscribe-bg {
  color: var(--basic-white);

  background-color: var(--special-cold-light);
  background-image: url("../img/jpg/subscribe-bg.jpg");
  background-repeat: no-repeat;
}

.subscribe__title {
  margin-top: 0;
  margin-bottom: 30px;

  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe__text {
  margin-right: auto;
  margin-bottom: 47px;
  margin-left: auto;
  max-width: 545px;

  font-size: 22px;
  line-height: 26px;
}

.subscribe__form { display: flex; }

.mail-form__input {
  flex-grow: 1;
  padding: 19px 21px 19px;

  font: inherit;

  background-color: var(--basic-light);
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.mail-form__input::placeholder {
  font-size: 18px;
  line-height: 26px;
  color: var(--basic-black);

  border: none;

  opacity: 0.6;
}

.mail-form__input:hover { background-color: var(--basic-gray-light); }

.mail-form__input:focus-visible {
  background-color: var(--basic-gray-light);

  outline: var(--outline-focus-cold);
}

.mail-form__input:focus-visible:valid {
  background-color: var(--basic-white);

  outline: var(--outline-active);
}

.mail-form__input:focus-visible:invalid {
  background-color: var(--basic-white);

  outline: var(--outline-error);
}

.mail-form__btn {
  width: 200px;

  font-size: 20px;
  line-height: 26px;

  background-color: var(--special-cold-light);
  border-radius: 0 var(--border-radius-large) var(--border-radius-large) 0;
}

/* Section Contacts */
.contacts {
  display: flex;
  align-items: center;
  padding: 28px 55px 38px 61px;
}

.social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 231px;
  max-width: 150px;

  list-style: none;
}

.social__link {
  margin-right: 6px;

  text-decoration: none;
}

.social__link--twitter { padding: 11px 10px; }

.social__link--facebook { padding: 10px 14px; }

.social__link--youtube { padding: 11px 9px; }

.social__svg {
  display: block;

  fill: var(--special-cold-light);
}

.social__svg:hover { fill: var(--special-cold-dark); }

.social__link:focus-visible {
  border-radius: var(--border-radius-middle);
  outline: var(--outline-focus-cold);
}

.social__link:focus .social__svg { fill: var(--special-cold-dark); }

.social__link:active { opacity: 0.3; }

.address-phone { font-style: normal; }

.address-phone__link {
  padding: 10px;

  font-size: 40px;
  line-height: 40px;
  color: inherit;
  text-decoration: none;
}

.address-phone__link:hover { color: var(--special-warm-light); }

.address-phone__link:focus-visible {
  color:var(--special-warm-light);

  border-radius: var(--border-radius-middle);
  outline: var(--outline-focus-cold);
}

.address-phone__link:active {
  color: var(--special-warm-light);

  opacity: 0.3;
}

.contacts__link {
  display: block;
  margin-left: auto;
  padding: 13px 17px;
}

.contacts__link:hover .contacts__svg { fill: var(--special-warm-light); }

.contacts__link:focus .contacts__svg { fill: var(--special-warm-light); }

.contacts__link:focus-visible {
  border-radius: var(--border-radius-middle);
  outline: var(--outline-focus-cold);
}

.contacts__link:active { opacity: 0.3; }

.contacts__svg {
  display: block;

  fill: var(--basic-black);
}
