/* Fonts */
@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* Variables */
:root {
  --basic-black: #000000;
  --basic-dark: #333333;
  --basic-gray: #e6e6e6;
  --basic-light: #f2f2f2;
  --basic-white: #ffffff;

  /* status */
  --status-success: #7db550;
  --status-warning: #fd922e;
  --status-error: #ff5757;

  /* special */
  --special-cold-dark: #68a2ca;
  --special-cold-light: #83b3d3;
  --special-cold-light-12: rgba(131, 179, 211, 0.12);
  --special-cold-light-20: rgba(131, 179, 211, 0.2);
  --special-neutral-dark: #6c9e42;
  --special-neutral-light: #7db54f;
  --special-warm-dark: #615048;
  --special-warm-light: #756257;
}

/* Basic styles */
html {
  height: 100%;

  box-sizing: border-box;
}

*,
*::before,
*::after { box-sizing: inherit; }

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  min-height: 100%;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 21px;
  color: var(--basic-black);
}

.button {
  font: inherit;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-white);

  border: none;
}

.page-container { width: 1200px; }

/* Header */

  /* Nav */
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__nav {
  margin-left: 72px;
  width: 309px;
}

.page-nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.page-nav__link {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  color: inherit;
}

.page-header__menu {
  display: flex;
  width: 250px;
  margin-right: 72px;
}

.user-menu__link { background-color: var(--special-warm-light); }

/* Main */
.main-container { flex-grow: 1; }

/* Promo */
.promo {
  margin: 0 auto;
  width: 720px;
}

.promo__desc {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.promo__sub-desc {
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: var(--basic-dark);
}

.filter-wrapper {
  background-color: var(--special-cold-light);
  background-image: url("../img/catalog/jpg/catalog-bg.jpg");
  background-repeat: no-repeat;
}

.inner-main__title { color: var(--basic-white); }

/* Section About */
.about__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.about__item {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.about__item:nth-child(2n+2) { background-color: var(--special-cold-light-12); }

.about__item:nth-child(7) { background-color: var(--special-cold-light-20); }

.about__item-wrap {
  color: var(--basic-white);

  background-color: var(--special-cold-light);
}

.about__title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

/* Breadcrumbs */
.breadcrumbs__list {
  margin: 0;
  padding: 0;

  color: var(--basic-white);

  list-style: none;
}

.breadcrumbs__link {
  color: inherit;
  text-decoration: none;
}

/* Filters */
.filter__form { color: var(--basic-white); }

.filter__group { border: none; }

.filter__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
}

.filter__list {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 23px;

  list-style: none;
}

.price__label {
  font-size: 18px;
  line-height: 23px;
  text-transform: lowercase;

  opacity: 0.3;
}

.price__input {
  font: inherit;
  color: var(--basic-white);

  background-color: transparent;
  border: 2px solid var(--basic-white);
}

.price__input:first-of-type {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.price__input:last-of-type {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.filter__button--submit { background-color: var(--special-cold-light); }

.filter__button--reset {
  font: inherit;
  color: var(--basic-white);

  background-color: transparent;
  border: none;
}

/* Sorting */
.sorting__label {
  font-size: 30px;
  line-height: 39px;
  font-weight: bold;
  text-transform: uppercase;
}

.sorting__options {
  font-size: 18px;
  line-height: 23px;
  color: var(--basic-dark);

  border: 2px solid var(--basic-gray);
  border-radius: 4px;
}

.sorting-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

/* Catalog */
.product-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.product-list__title {
  font-size: 24px;
  line-height: 31px;
}

.product-list__desc {
  font-size: 18px;
  line-height: 23px;

  color: var(--basic-dark);
}

.product-list__link--details { background-color: var(--special-warm-light); }

.product-list__link--favorites { background-color: var(--special-cold-light); }

.product-list__link--selected { background-color: var(--special-neutral-light); }

.rating__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.rating__grade {
  color: var(--basic-dark);
  text-transform: uppercase;
}

.catalog__btn { background-color: var(--special-cold-light); }

/* Pagination */
.pagination__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination__link {
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  text-decoration: none;
  color: var(--basic-white);

  background-color: var(--special-cold-light);
}

.pagination__link--current {
  color: var(--basic-black);

  background-color: transparent;
}

.pagination__label {
  font-size: 18px;
  line-height: 23px;
  color: var(--basic-dark);
}

.pagination__options {
  font-size: 18px;
  line-height: 23px;
  color: var(--basic-dark);

  border: 2px solid var(--basic-gray);
  border-radius: 4px;
}

/* Section Search */
.search { text-align: center; }

.search__title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search__desc {
  font-size: 22px;
  line-height: 26px;
  color: var(--basic-dark);
}

.search__btn { background-color: var(--special-warm-light); }

/* Footer */

/* Section Subscribe */
.subscribe { text-align: center; }

.subscribe-bg {
  color: var(--basic-white);

  background-image: url("../img/jpg/subscribe-bg.jpg");
  background-repeat: no-repeat;
}

.subscribe__title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe__text {
  font-size: 22px;
  line-height: 26px;
}

.mail-form__input {
  font: inherit;
  border: none;
}

.mail-form__input::placeholder {
  font-size: 18px;
  line-height: 26px;
  color: var(--basic-black);

  border: none;

  opacity: 0.6;
}

.mail-form__btn { background-color: var(--special-cold-light); }

/* Section Contacts */
.social {
  margin: 0;
  padding: 0;

  list-style: none;
}

.social__link--twitter {
  background-image: url("../img/svg/twitter.svg");
  background-repeat: no-repeat;
}

.social__link--facebook {
  background-image: url("../img/svg/facebook.svg");
  background-repeat: no-repeat;
}

.social__link--youtube {
  background-image: url("../img/svg/youtube.svg");
  background-repeat: no-repeat;
}

.address-phone { font-style: normal; }

.address-phone__link {
  font-size: 40px;
  line-height: 40px;
  color: inherit;
  text-decoration: none;
}
